@using SignDesignCorpus;
@using SignDesignCorpus.ViewModels;
@using System.Collections.Generic;
@*@model IEnumerable<WorkOrderViewModel>*@
@model SignDesignCorpus.HelperModels.WorkOrderHelperModel
@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{IEnumerable<RegionalDistributionCenter> reqFrom = (IEnumerable<RegionalDistributionCenter>)ViewData["regnDistCenters"];}

<div> 
	@* Block for first set of data *@

	<h3 class="text-center">REGIONAL SIGN REQUEST</h3>

	
</div>
  