<div style="height:600px;">
    <arcgis-map id="map"
                basemap="streets"
                zoom="4"
                center="-98.5,29.4"
                item-id="">

        <arcgis-feature-layer id="trailheads"
                              url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trailheads/FeatureServer/0">
        </arcgis-feature-layer>

    </arcgis-map>
</div>

<script type="module" src="/js/arcgis-map.js"></script>
